pkgbase = keepassxc-start
	pkgdesc = Unlock KeePassXC with local account credentials
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/electrickite/keepassxc-start
	arch = any
	license = MIT
	depends = keepassxc
	depends = tpm2-tools>=5.0
	depends = polkit
	depends = libsecret
	depends = bash
	depends = coreutils
	depends = util-linux
	depends = grep
	depends = sed
	depends = gnupg
	backup = etc/default/keepassxc-start
	source = keepassxc-start
	source = Makefile
	source = keepassxc-start.policy.in
	source = default

pkgname = keepassxc-start
